### To connect mongodb with python use this command

In [1]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

### To show all databases in mongodb

In [8]:
myclient.list_database_names()

['India', 'MYDB', 'Test_Database', 'admin', 'config', 'fist', 'local', 'mydb1']

### To show collection name in database

In [9]:
myclient.India.list_collection_names()

['stateinfo']

### To create database

In [2]:
mydb = myclient.fist

### To create collection

In [3]:
mycollection = mydb.first_collection

### To insert one record

In [7]:
newrecord = {"State": "Maharastra", "Capital": "Mumbai"}
mycollection.insert_one(newrecord)

### To insert many record

In [4]:
statelist = [
    {"State": "Maharastra", "Capital": "Mumbai", "pin": 45321},
    {"State": "Rajesthan", "Capital": "Jaipur", "pin": 42546, "other": {"famous": "IT cell", "place": "Neemuch"}},
    {"State": "Gujarat", "Capital": "Gandhi Nagar", "pin": 67278},
    {"State": "Karnataka", "Capital": "Bengaluru", "pin": 4657},
    {"State": "Sikkim", "Capital": "Gangtok"},
    {"State": "Jammu&Kashmir", "Capital": "Jammu"},
    {"State": "Punjab", "Capital": "Chandigarh"}
]
mycollection.insert_many(statelist)

### To delete a record

In [10]:
mycollection.delete_one({"state":"Punjab"})

### To delete many record

In [12]:
mycollection.delete_many({"State":"Sikkim"})

### To update a record

In [13]:
mycollection.update_one({"State":"Gujarat"}, {"$set": {"language": "Gujarat"}})

### To update many record

In [26]:
mycollection.update_many({"State":"Maharastra"},{"$set": {"lanuage": ["hind","English","punjabi"], "pin": 44656}})

In [27]:
mycollection.count_documents({"State":"Maharastra"})

2

### To Replace one

In [29]:
mycollection.replace_one({"State": "Punjab"}, {"State": "Punjab", "details": [{"pin": 453212, "mob": 8000045457}, {"location":"punjab"}]})

### To find record
it is like select * form table

In [16]:
mycollection.find_one()

{'_id': ObjectId('628f607c8600586a8f38707b'),
 'State': 'Maharastra',
 'Capital': 'Mumbai',
 'pin': 45321}

In [18]:
for i in mycollection.find():
    print(i)

{'_id': ObjectId('628f607c8600586a8f38707b'), 'State': 'Maharastra', 'Capital': 'Mumbai', 'pin': 45321}
{'_id': ObjectId('628f607c8600586a8f38707c'), 'State': 'Rajesthan', 'Capital': 'Jaipur', 'pin': 42546, 'other': {'famous': 'IT cell', 'place': 'Neemuch'}}
{'_id': ObjectId('628f607c8600586a8f38707d'), 'State': 'Gujarat', 'Capital': 'Gandhi Nagar', 'pin': 67278, 'language': 'Gujarat'}
{'_id': ObjectId('628f607c8600586a8f38707e'), 'State': 'Karnataka', 'Capital': 'Bengaluru', 'pin': 4657}
{'_id': ObjectId('628f607c8600586a8f387080'), 'State': 'Jammu&Kashmir', 'Capital': 'Jammu'}
{'_id': ObjectId('628f607c8600586a8f387081'), 'State': 'Punjab', 'Capital': 'Chandigarh'}
{'_id': ObjectId('628f61308600586a8f387082'), 'State': 'Maharastra', 'Capital': 'Mumbai'}

### Query the json based on equality condition
It is like select * from table where a = 1

In [19]:
for i in mycollection.find({"State": "Maharastra"}):
    print(i)

{'_id': ObjectId('628f607c8600586a8f38707b'), 'State': 'Maharastra', 'Capital': 'Mumbai', 'pin': 45321}
{'_id': ObjectId('628f61308600586a8f387082'), 'State': 'Maharastra', 'Capital': 'Mumbai'}

### Query the Json based on query operators($in, $lt, $gt)

In [20]:
for i in mycollection.find({"State": {'$in': ["Maharastra", "Punjab", "Gujarat"]}}):
    print(i)

{'_id': ObjectId('628f607c8600586a8f38707b'), 'State': 'Maharastra', 'Capital': 'Mumbai', 'pin': 45321}
{'_id': ObjectId('628f607c8600586a8f38707d'), 'State': 'Gujarat', 'Capital': 'Gandhi Nagar', 'pin': 67278, 'language': 'Gujarat'}
{'_id': ObjectId('628f607c8600586a8f387081'), 'State': 'Punjab', 'Capital': 'Chandigarh'}
{'_id': ObjectId('628f61308600586a8f387082'), 'State': 'Maharastra', 'Capital': 'Mumbai'}

### And and Query Operator

In [23]:
for i in mycollection.find({"State": "Maharastra", "pin":{"$lt": 50000}}):
    print(i)

{'_id': ObjectId('628f607c8600586a8f38707b'), 'State': 'Maharastra', 'Capital': 'Mumbai', 'pin': 45321}

### OR Operator

In [25]:
for i in mycollection.find({"$or": [{"State": "Maharastra"}, {"pin": 45321}]}):
    print(i)

{'_id': ObjectId('628f607c8600586a8f38707b'), 'State': 'Maharastra', 'Capital': 'Mumbai', 'pin': 45321}
{'_id': ObjectId('628f61308600586a8f387082'), 'State': 'Maharastra', 'Capital': 'Mumbai'}

### Aggregate Function

In [30]:
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
mycollection.insert_many(data)

### Find Amit And Krish Total Subjects

In [31]:

agg_result= mycollection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [32]:
for i in agg_result:
    print(i)

{'_id': 'Amit', 'Total Subject': 3}
{'_id': None, 'Total Subject': 7}
{'_id': 'Krish', 'Total Subject': 3}

### Calculating the total score based on user

In [33]:
agg_result= mycollection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'Total Marks': 235}
{'_id': None, 'Total Marks': 0}
{'_id': 'Krish', 'Total Marks': 250}

### Calculating the average score based on user

In [34]:
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$user',
         "StudentScoreAverage": {
            "$avg": "$score"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}
{'_id': None, 'StudentScoreAverage': None}
{'_id': 'Krish', 'StudentScoreAverage': 83.33333333333333}